@model PayAndPlay.Models.Pedido

@{
    ViewData["Title"] = "Create";
}
<div style="padding-top: 70px;">

<h1>Create</h1>

<h4>Pedido</h4>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Custo_Pedido" class="control-label">Custo do Pedido</label>
                <input asp-for="Custo_Pedido" class="form-control" />
                <span asp-validation-for="Custo_Pedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UtilizadorId" class="control-label">Utilizador</label>
                <select asp-for="UtilizadorId" class ="form-control" asp-items="ViewBag.UtilizadorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DJId" class="control-label">DJ</label>
                <select asp-for="DJId" class ="form-control" asp-items="ViewBag.DJId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MusicaInPlayListId" class="control-label">ID Musica In PlayList</label>
                <select asp-for="MusicaInPlayListId" class ="form-control" asp-items="ViewBag.MusicaInPlayListId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
