@{
    ViewData["Title"] = "Tipo de Login";
}

<h1>Escolha o Tipo de Login</h1>
<form>
    <button class="btn btn-primary" asp-controller="Login" asp-action="LoginUtilizador" type="submit">Utilizador</button>
    <button class="btn btn-secondary" asp-controller="Login" asp-action="LoginDJ" type="submit">DJ</button>
</form>