<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/bootstrap/dist/fonts/font-awesome.min.css">
</head>

<body class="d-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="background: linear-gradient(0deg, rgb(240,95,64) 0%, white 100%);">
    @{
        Html.RenderPartial("_Alert");
    }
    <div class="container" style="border-radius: 15px;background: #ffffff;margin-top: 15vh;">
        <div class="row">
            <div class="col-md-6" style="background: url(/Pictures/LoginIcon.png) center / contain no-repeat, rgba(255,255,255,0);">
                <div>
                    <div></div>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <form>
                    <p style="font-size: 25px;font-weight: bold;letter-spacing: 1px;">USER LOGIN</p>
                    <div style="background: #f1f1f1;border-radius: 25px;padding: 10px;">
                        <i class="fa fa-envelope" style="margin-left: 15px;color: rgb(152,152,152);font-size: 16px;"></i>
                        <input style="background: rgba(255,255,255,0);border-style: none;margin-left: 10px;color: rgb(152,152,152);" id="email" name="email" placeholder="Email" type="email" required>
                    </div>
                    <div style="background: #f1f1f1;border-radius: 25px;padding: 10px;margin-top: 15px;">
                        <i class="fa fa-lock" style="margin-left: 15px;color: rgb(152,152,152);font-size: 20px;"></i>
                            <input style="background: rgba(255,255,255,0);border-style: none;margin-left: 10px;color: rgb(152,152,152);" id="password" name="password" placeholder="Password" type="password" required>
                    </div>
                    <div>
                            <button type="submit" class="text-center" style="background: var(--bs-success);border-radius: 25px;padding: 10px;margin-top: 15px; width: 100%;">Login</button>
                    </form>
                    <div>
                        <p class="text-center" style="margin-top: 10px;color: rgb(152,152,152);">You want to Create Account ? <a asp-controller="Registo" asp-action="RegistoUtilizador">Click Here!</a></p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
