@model PayAndPlay.Models.QRCodeModel

@{
    ViewData["Title"] = "Create QRCode";
}
<h1>QR CODE @Context.Session.GetString("UTILIZADOR")</h1>
    <div class="form-group">
        <img src="@ViewBag.QrCodeUrl" class="img-thumbnail" />
    </div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}