@model PayAndPlay.Models.PlayList

@{
    ViewData["Title"] = "Details";
}
<div style="padding-top: 70px;">

<h1>Details</h1>

<h4>PlayList</h4>
</div>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DJ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DJ.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
