@using System.Net.NetworkInformation
@model IEnumerable<PayAndPlay.Models.DJ>
@{
    ViewData["Title"] = "QRCODE SCANNER";
}

<div>
    <video id="cameraFeed" autoplay></video>
</div>

@section Scripts {
    <script>
        // Access the user's camera and display the video stream
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
                var videoElement = document.getElementById('cameraFeed');
                videoElement.srcObject = stream;
            })
            .catch(function (error) {
                console.error('Error accessing camera:', error);
            });
    </script>
    <script src="~/js/site.js"></script>
    }