@model IEnumerable<PayAndPlay.Models.DJ>
@{
    ViewData["Title"] = "Index";
}
<form>
@Html.DropDownList("cbxDj", (SelectList)ViewBag.DJs, "Selecione Dj")
<button type="submit" formmethod="post">BUSCAR</button>
</form>
