@model IEnumerable<PayAndPlay.Models.PlayList>
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
</head>

<body style="background: url(/Pictures/bgUserProfile.jpg) center / cover no-repeat;">
    <div class="container" style="padding-top: 70px">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <p style="text-align: center;color: var(--bs-secondary-bg);font-weight: bold;font-size: 50px;">Escolha a PlayList</p>
                </div>
            </div>
        </div>
        <div class="row"></div>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div></div>
                <div class="table-responsive">
                    @if (ViewBag.PLAYLISTSDJ != null)
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        PlayList
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (PlayList item in ViewBag.PLAYLISTSDJ)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nome)
                                        </td>
                                        <td>
                                            <form>
                                                <button type="submit" formmethod="post" asp-route-id="@item.ID">Selecionar</button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>Este DJ não tem PlayLists Disponiveis</p>
                    }
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>