@{
    ViewData["Title"] = "Tipo de Registo";
}

<h1>Escolha o Tipo de Registo</h1>
<form>
<button class="btn btn-primary" asp-controller="Registo" asp-action="RegistoUtilizador" type="submit">Utilizador</button>
    <button class="btn btn-secondary" asp-controller="Registo" asp-action="RegistoDJ" type="submit">DJ</button>
</form>

